@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css");

html {
  min-height: 100%;
}

#header {
   display: flex;
   flex-flow: row wrap;
   justify-content: space-between;
   align-items: center;
   margin: 2em;
   gap: 2em;
}

body {
  font: 15px/1 Roboto,Helvetica Neue,sans-serif; 
  /* font-family: Roboto,Helvetica Neue,sans-serif; */
  color: #555;
  /* background-color: #f4f0f2; */
  /* background-color: white; */
}

main {
  min-width: 320px;
  width: 70%;
  margin: 0 auto;
  height: 100%;
  /* background: #fff; */
}

section {
  display: none;
  padding: 2em;
  margin-bottom: 5vh;
  /* height: 50%; */
  /* border-top: 1px solid #eee; */
  /* border-radius: 0 1em 1em 1em; */
}

section h2 {
  margin-bottom: 1em;
}

#content1 {
  text-align: center;
}

#buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}


#title {
  font-family: Roboto,Helvetica Neue,sans-serif;
  padding-bottom: 30px;
  font-weight: 300;
  font-size: 5vw;
  text-align: center;
  margin-bottom: 1.5vw;
}

#content2 p {
  margin: 0 0 10px;
  line-height: 1.5;
  font-size: 1.2em;
}

footer {
  /* background-color: #eee; */
  background-color: white;
  color: #f58025;
  padding: 20px;
  /* position: fixed; */
  height: 50px;
  width: 100%;
  flex-shrink: 0;
  text-align: center;
  left: 0;
  bottom: 0;
  padding: 2em 0 2em;
}

/* D3.js styling */
#svg-container {
  resize: both;
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 52%;
  vertical-align: top;
  /* border: 1px dashed black; */
  overflow: auto;
}

.svg-content {
  /* display: inline-block; */
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
}

.x-axis { 
   /* font: 17px sans-serif;  */
   font: inherit;
}

.y-axis { 
  font: inherit;
  /* font: 17px sans-serif;  */
}

.legend {
  font: inherit;
}

.overlay {
  fill: none;
  pointer-events: all;
}
/* -------------------- */

/* *, *:before, *:after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
} */
 
 
/* Tab bar  */

#info {
  float: right;
  /* display: flex;
  flex-direction: row;
  justify-content: end; */
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  text-align: left;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#source_selector {
  display: flex;
  flex-direction: row;
   justify-content: center;
   align-items: center;
   /* align-content: center; */
   margin-bottom: 2%;
}

#source_selector label, select {
  padding: 0.5em;
  font-size: 1vw;
}


#subgroup_selector {
  display: flex;
  flex-direction: row;
   justify-content: center;
   align-items: center;
   align-content: left;
   margin-bottom: 2%;
}

#subgroup_selector label, select {
  padding: 0.5em;
  font-size: 1vw;
}

#graphtype_selector {
  display: flex;
  flex-direction: row;
   justify-content: center;
   align-items: center;
   align-content: left;
   margin-bottom: 2%;
}

#graphtype_selector label, select {
  padding: 0.5em;
  font-size: 1vw;
}

#buttons a  {
  display: flex;
  flex-direction: column;
  padding: 1em;
}
#buttons a span  {
  font-size: 1em;
  padding-top: 0.5em;
}

.downloader:hover {
  color: #e77500;
}

#data_source {
  width: 50%;
}

#group_source {
  width: 50%;
}

#graph_type {
  width: 50%;
}

#settings_container {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2em;
}

#filters {
  display: flex;
  flex-flow: column;
}



.tabs {
  display: none;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
  background-color: #fff;
}

label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  background-color: #EDE9EB;
  border: 1px solid transparent;
}

label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

label[for*='1']:before {
  content: '\f201';
}

label[for*='2']:before {
  content: '\f0c0';
}

label[for*='3']:before {
  content: '\f1ea';
}

label[for*='4']:before {
  content: '\f059';
}

label:hover {
  color: #ff8f00;
  cursor: pointer;
}

input:checked + label {
  color: #555;
  background-color: #fff;
  /* border: 1px solid #ff8f00;
  border-top: 2px solid #ff8f00;
  border-bottom: 1px solid #fff; */
  /* border-radius: 1em 1em 0px 0px; */
}
/* ------------------------- */

/* About Us card design */
#people {
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap; 
}

.center_affiliate {
  background-color: #fff;
  flex-direction: column;
  justify-content: center;
  /* border: 1px solid black; */
  /* border-radius: 20px; */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  display: flex;
  width: 20%;
  /* height: 100%; */
  padding: 1em;
  margin: 1em;
  /* flex-grow: 1; */
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}

.center_affiliate a {
  color: #e77500;
  text-align: center;
  text-decoration: none;
}

.center_affiliate:hover {
  box-shadow: 0 12px 24px 0 rgba(0,0,0,0.2);
  text-decoration: underline;
}

.center_affiliate img {
  margin: 0.5em 0;
  width: 95%;
}
/* ------------------------- */

/* Media Queries */

@media screen and (max-width: 1260px) {
  .center_affiliate {
    width: 35%;
  }

}

@media screen and (max-width: 650px) {
  label {
    font-size: 0;
  }

  label:before {
    margin: 0;
    font-size: 18px;
  }
  .center_affiliate {
    width: 90%;
    height: 40em;
  }

}
@media screen and (max-width: 400px) {
  label {
    padding: 15px;
  }
}
